{% extends "base.html" %}
{% load static %}

{% block title %}
Event detail
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin/css/styles/event-detail.css' %}">
{% endblock %}
{% block content %}
<main class="main-content">
    <section class="event-hero">
        <div class="container">
            <div class="event-hero-content">
                <div class="event-date-large">
                    <span class="day">{{ event.date|date:'d' }}</span>
                    <span class="month">{{ event.date|date:'M' }}</span>
                    <span class="year">{{ event.date|date:'Y' }}</span>
                </div>
                <div class="event-info">
                    <h1>{{ event.title }}</h1>
                    <p class="event-location">{{ event.location }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="event-details">
        <div class="container">
            <div class="details-grid">
                <div class="main-content-area">
                    <p>{{ event.description }}</p>
                    <span></span>
                </div>
                {% if event.main_image %}
                <img width="60%"  src="{{ event.main_image.url }}" alt="Jahon Chempionati tayyorgarlik">
                {% else %}
                {% endif %}


                {% if event.main_video %}
                <div class="article-image">
                    <video height="240px" width="90%" controls autoplay src="{{ event.main_video.url }}"></video>
                </div>
                {% else %}
                {% endif %}
                {% if additional_image %}
                <h2>Related photos</h2>
                {% for add in additional_img %}
                <img height="150px" width="200px" src="{{ add.image.url }}">
                {% endfor %}
                {% endif %}
                {% if additional_video %}
                <h2>Related videos</h2>
                {% for add in additional_video %}
                <video controls height="150px" width="200px" src="{{ add.video.url }}"></video>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
{% block scripts %}
{% endblock %}