<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% load i18n %}

<h3>{% trans "Tilni tanlang" %}</h3>

<form action="{% url 'set_language' %}" method="post" style="display:inline;">
  {% csrf_token %}
  <input type="hidden" name="language" value="uz">
  <button type="submit" {% if LANGUAGE_CODE == "uz" %}disabled{% endif %}>Oʻzbekcha</button>
</form>

<form action="{% url 'set_language' %}" method="post" style="display:inline;">
  {% csrf_token %}
  <input type="hidden" name="language" value="ru">
  <button type="submit" {% if LANGUAGE_CODE == "ru" %}disabled{% endif %}>Русский</button>
</form>

<form action="{% url 'set_language' %}" method="post" style="display:inline;">
  {% csrf_token %}
  <input type="hidden" name="language" value="en">
  <button type="submit" {% if LANGUAGE_CODE == "en" %}disabled{% endif %}>English</button>
</form>

<hr>

<h1>{% trans "Home page" %}</h1>

</body>
</html>
